.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-height: 100vh;
}

.spinnerVideo {
  width: 200px;
  height: 200px;
}

/* RESPONSIVE */
@media (max-width: 520px) {
  .spinnerContainer {
    align-items: flex-start;
    margin-top: 50px;
  }

  .spinnerVideo {
    width: 100px;
    height: 100px;
  }
}
