.categorySelector {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
  padding: 20px;
}

.categoryButton {
  background: var(--moderate-violet);
  color: var(--strong-yellow-green);
  text-transform: capitalize;
}

.categoryButton:hover,
.categoryButtonActive {
  background: var(--strong-yellow-green);
  color: var(--moderate-violet);
}
