.watchlistContainer {
  padding: 20px;
  min-height: calc(100vh - 200px);
}

.emptyState {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.emptyState i {
  font-size: 4em;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff0000;
  text-align: center;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .error {
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 50px;
  }
}
