.watchlistContainer {
  padding: 20px;
  min-height: calc(100vh - 200px);
}

.emptyState {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.emptyState i {
  font-size: 4em;
}

.error {
  color: #ff0000;
  text-align: center;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .watchlistContainer {
    padding: 1rem;
  }

  .header h2 {
    font-size: 2rem;
  }

  .emptyState {
    padding: 2rem 1rem;
  }

  .emptyState i {
    font-size: 3rem;
  }
}
