.newsContainer {
  padding: 20px;
  min-height: calc(100vh - 200px);
  animation: fadeIn 400ms ease-in-out;
}

/* RESPONSIVE */
@media (max-width: 462px) {
  .newsContainer {
    padding: 10px;
  }
}

/* ANIMATIONS */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}