.movieListContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
}

.movieListHeading {
  color: var(--moderate-violet);
  margin-bottom: 20px;
  text-transform: capitalize;
}

.movieListGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.noMovies {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.noMovies i {
  font-size: 3em;
}

/* RESPONSIVE DESIGN */
@media (max-width: 600px) and (min-width: 462px) {
  .movieListGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
