.favoritesContainer {
  padding: 20px;
  min-height: calc(100vh - 200px);
  animation: fadeIn 400ms ease-in-out;
}

.emptyState {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.emptyState i {
  font-size: 4em;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff0000;
  text-align: center;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .error {
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 50px;
  }
}

@media (max-width: 462px) {
  .favoritesContainer {
    padding: 10px;
  }
}

/* ANIMATIONS */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
