.recommendationsTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.personalizedButton {
  color: var(--dark-violet);
  font-size: 1em;
  text-decoration: underline;
}

.personalizedButton:hover {
  color: var(--strong-yellow-green);
}

/* RESPONSIVE */
@media (max-width: 520px) {
  .recommendationsTitle {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
  }
}
