.recommendationsContainer {
  padding: 20px;
  min-height: calc(100vh - 200px);
}

.recommendationsTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.personalizedButton {
  color: var(--dark-violet);
  font-size: 1em;
  text-decoration: underline;
}

.personalizedButton:hover {
  color: var(--strong-yellow-green);
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff0000;
  text-align: center;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .error {
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 50px;
  }
}

@media (max-width: 520px) {
  .recommendationsTitle {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
  }
}

@media (max-width: 462px) {
  .recommendationsContainer {
    padding: 10px;
  }
}
