.scrollToTop {
  position: fixed;
  bottom: 30px;
  right: 2px;
  z-index: 1000;
}

.scrollToTopBtn {
  background: var(--moderate-violet);
  color: var(--strong-yellow-green);
  padding: 10px;
  border-radius: 5px;
}

.scrollToTopBtn:hover {
  background: var(--dark-violet);
}

.scrollToTopBtn i {
  color: var(--strong-yellow-green);
  font-size: 1.5em;
}
