/* Font Imports */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  font-family: Poppins, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  /* Project Color Pallete */
  --dark-violet: #5e2687;
  --strong-yellow-green: #a3c717;
  --transparent-yellow-green: #e1e7b2;
  --moderate-violet: #7e57c2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html {
  max-width: 100%;
  overflow-x: hidden;
  font-family: Poppins, Inter, Helvetica, sans-serif;
}

body {
  background: var(--transparent-yellow-green);
  color: var(--dark-violet);
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  font-size: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Inter, Poppins, Helvetica, sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 2.1875em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.9em;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: Poppins, Inter, Helvetica, sans-serif;
  font-weight: 600;
  transition: all 400ms ease-in-out;
}

a {
  color: var(--moderate-violet);
  text-decoration: none;
}

a:hover {
  color: var(--dark-violet);
}

button {
  background: var(--strong-yellow-green);
  color: var(--dark-violet);
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
}

button:hover {
  background: var(--dark-violet);
  color: var(--strong-yellow-green);
}

input,
select,
textarea {
  border: none;
  outline: none;
}

input:focus,
textarea:focus,
button:focus,
button:focus-visible {
  outline: none;
}

/* RESPONSIVE */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: var(--dark-violet);
  }
  button {
    background-color: var(--dark-violet);
    color: var(--strong-yellow-green);
  }
}

/* Screen Max-Width 768px */
@media (max-width: 768px) {
  /* General Responsive Font Styling */
  body {
    font-size: 87.5%;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.625em;
  }

  h3 {
    font-size: 1.25em;
  }

  h4 {
    font-size: 0.9em;
  }

  h5 {
    font-size: 0.875em;
  }

  h6 {
    font-size: 0.75em;
  }
}

/* Screen Max-Width 520px */
@media (max-width: 520px) {
  /* General Responsive Font Styling */
  body {
    font-size: 75%;
  }

  h1 {
    font-size: 1.875em;
  }

  h2 {
    font-size: 1.5em;
  }

  h5 {
    font-size: 0.75em;
  }

  h6 {
    font-size: 0.6875em;
  }
}
